{% extends "app/layout.html" %}

{% block styles %}
<style>
    .errorlist{
        color:red
    }
</style>
{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                <h4>請任選一個欄位進行查詢，重設密碼連結將寄至您的Email信箱</h4>
                <hr />
                <div class="form-group generated">
                    {{ form.as_p }}
                </div>

                <div class="form-group">
                    <input type="submit" value="查詢" class="btn btn-default" />
                </div>
            </form>
        </section>
    </div>
</div>

{% endblock %}


{% block scripts %}
{% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
<script>
    $('.generated input').addClass('form-control')
</script>
{% endblock %}
